{% extends 'base.html' %}
{% load static %}
{%block content %}
<div class="trending-area fix">
    <div class="mx-auto" style="width: 900px;">
        <div class="trending-main">
            <!-- Trending Tittle -->
            <div class="row">
                <div class="col-lg-12 my-4 width-30">
                    {% for cat in cats %}

                    <div class="card item" style="margin-left:10px ,width=10px;">
            
                        <div class="img-container">
            
                            <img src="{{cat.image}}" class="responsive-img" alt="">
            
                        </div>
                        <div class="card-content p-3">
            
                            <div class="card-title">
                                
                                <h3>{{cat.title}}</h3>
                            </div>
            
                            <p>{{cat.content}}</p>
                            
            
                        </div>
            
            
                    </div>
            
                    {%endfor%}
            
                </div>
            </div>


            <!-- <div class="container">

                <div class="row">
            
                    <div class="col s12 ">
            
            
                        {%for p in posts %}
            
                        <div class="row">
            
                            <div class="col s12 m8 my-2">
            
                                <h5>{{p.title}}</h5>
                                {{p.content |truncatewords:60 | safe}}
                                <div class="mt20">
                                    <a href="/{{p.post_id}}" class="btn  bg-primary ">Read More..</a>
                                </div>
                            </div>
            
                            <div class="col s12 m4">
                                <img src="/media/{{p.image}}" class="responsive-img" style="margin-top:40px;">
            
                            </div>
            
                        </div>
            
            
                        {%endfor %}
            
            
                    </div>
            
            
                </div>
            
            </div> -->
            
        </div>
    </div>
</div>

{%endblock%}